#app-main {
  display: flex;
  flex-direction: column; // IE min-height fix
  max-width: 1440px;
  min-width: 1260px;
  margin: 0 auto;
}

header {
  position: fixed;
  display: flex;
  z-index: 9998;
  height: $header--height;
  background-color: #ffffff;
  border: 1px solid $app-border--color;
  max-width: inherit;
  width: 100%;
  padding: 0 32px;

  .logo {
    display: flex;
    align-items: center;
    flex: none;
  }
}

.app-body {
  display: flex;
  min-height: 100vh;
  padding-top: $header--height;
  border: solid $app-border--color;
  border-width: 0 1px 0 1px;
}

.app-content {
  flex: auto;
  background: #fff;
  padding: $app--margin;
  position: relative;
  border-right: 1px solid $app-border--color;
  // фикс для IE иначе app-content расширяется и появляется скролл
  width: 100%;

  &__inner {
    width: 800px;
    margin: 0 auto;
  }

  &-inner__footer {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    margin-top: 30px;

    &.right-alignment {justify-content: flex-end}

    > div {display: flex}

    .btn + .btn {margin-left: 16px;}
  }
}

.app-sidebar {
  flex: none;
  width: 342px;
  background-color: $app--bg-color;
  padding: $app-sidebar--margin 0;
}

.app-sidebar__links {

  a {
    display: block;
    padding: 10px $app-sidebar--margin;
    text-decoration: none;
    color: $text--color-1;
    border: 2px solid transparent;
    transition: $link-transition;

    &:hover {color: #000}

    &.router-link-exact-active.router-link-active {
      background-color: #fff;
      border-color: $main-color-1;

      &:hover {
        color: inherit;
        cursor: default;
      }
    }

    .icon {
      margin-right: 16px;
      opacity: 0.5;
    }
  }
}

.sidebar-content {
  padding: 0 32px 30px 32px;

  .sidebar-row-title {
    font-weight: 500;
  }

  .sidebar-row {
    display: flex;
    justify-content: space-between;
  }

  .light {color: #aeaeae;}
}

// Заголовок страницы

.page-header {
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;

  .icon:before {font-size: 24px}
}