.btn {
  display: inline-block;
  position: relative;
  height: $form-element--height;
  line-height: $form-element--height;
  padding: 0 24px;
  color: $button--text--color;
  text-align: center;
  font-size: $font-size;
  text-decoration: none;
  background-color: $button--background;
  cursor: pointer;
  transition: all 0.1s ease 0s;
  outline: none;

  @extend %border-style;

  &:hover {
    background-color: lighten($button--hover--background, 10%);
    border-color: darken($button--hover--background, 5%);
  }

  &:active {background-color: lighten($button--hover--background, 5%);}

  &.btn-primary {
    @extend %btn-primary;

    &:hover {
      @extend %btn-primary-hover-background;
    }

    &:active {
      background-color: darken($button-primary--hover--background, 15%);
      border-color: darken($button-primary--hover--background, 15%);
    }
  }

  &.sidebar-btn {
    display: block;
    margin: 0 auto $app-sidebar--margin;
    width: calc(100% - #{$app-sidebar--margin} * 2);
  }

  &[disabled] {
    background-color: $input-disabled--background-color !important;
    border-color: $input-disabled--background-color !important;
    opacity: 0.5;
    cursor: default;
  }

  &.btn-back {
    max-width: 70px;
    font-size: 20px;
    // Необходимо для выравнивая иконки
    display: flex;
    align-items: center;
    @extend .icon;
    @extend .icon-back;

    &:hover {color: darken($button--hover--background, 5%);}
  }
}

.btn-group {
  display: inline-block;
  font-size: 0;

  > .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    width: 40px;
    border-width: 1px 0 1px 0;

    &.icon {
      padding: 0;

      &:before {
        color: #777;
        font-size: 24px;
      }
    }

    + .btn {border-left: 1px solid $input--border-color !important;}
  }

  // кнопки в переключателе XButtonGroup
  > * {

    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: $form-element--border-radius;
      border-bottom-left-radius: $form-element--border-radius;
    }

    &:last-child {
      border-right-width: 1px;
      border-top-right-radius: $form-element--border-radius;
      border-bottom-right-radius: $form-element--border-radius;
    }
  }

  .switch-select {
    display: inline-block;

    .filter-input {border-radius: 0;}

    &:first-child .filter-input {border-radius: $form-element--border-radius 0 0 $form-element--border-radius;}

    &:last-child .filter-input {border-radius: 0 $form-element--border-radius $form-element--border-radius 0;}

    &:hover{@extend .btn:hover}
  }

  .switch-active {
    background-color: $app-border--color;

    // fix для IE, у активной кнопки справа появляется белая полоска
    &:first-child {box-shadow: inset -1px 0 0 0 $app-border--color}
  }

  &.switch > {

  .btn {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    }

    * {vertical-align: middle;}
  }
}

.switch > .btn > input[type="radio"],
.switch > .btn > input[type="checkbox"] {
  display: none;
}

.progress-button {
  position: relative;
  @extend .icon;
  @extend .icon-spinner;

  &:before {
    visibility: hidden;
    position: absolute;
    font-size: 20px;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: $main-color-1;
  }

  &[disabled] {
    opacity: 1 !important;

    &:before {visibility: visible}

    .progress-button__content {visibility: hidden}
  }

  &.btn-primary {

    &:before {color: #fff}

    &[disabled] {background-color: darken($button-primary--hover--background, 15%) !important;}
  }
}