// Выпадающий список "Выбор периода"

.calendar-period {

  .filter-input {background: url('../img/icons/icon-calendar.svg') no-repeat right 8px center;}

  .filter-item:first-child {background: url('../img/icons/icon-calendar.svg') no-repeat right 8px center;}
}

// Календарь

.c-pane-container {
  background-color: #fff !important;
  color: $text--color-1;
  border-width: 1px 0 0 !important;
  font-family: $font-family;

  .popover-origin .c-table .c-table-cell {font-size: $font-size - 2}

  .c-header {min-height: $form-element--height}

  .c-title,
  .c-weekdays,
  .c-day-content {font-size: $font-size !important;}

  .c-arrow.icon {
    font-size: 1.4em;
    color: #999;
  }

  .c-weekdays {
    border: solid $input--border-color;
    border-width: 1px 0 1px;
    opacity: 0.5;
    padding: 8px;

    .c-weekday {
      text-transform: capitalize;
      font-size: $font-size - 2;
      line-height: 1;
    }
  }

  .c-day {

    .c-day-content {
      width: 34px;
      height: 34px;
      color: $text--color-1 !important;
    }

    // часть фона выбранных дней
    .c-day-box-right-center .c-day-background,
    .c-day-box-left-center .c-day-background {
      height: 24px !important;
      background-color: lighten($main-color-1, 6%)!important;
    }

    .c-day-box-center-center {
      // выбранные дни
      &.c-day-slide-right-translate-enter,
      &.c-day-slide-left-translate-enter,
      &.c-day-scale-enter {
        .c-day-background {
          width: 32px !important;
          height: 32px !important;
          background-color: $main-color-1 !important;
        }
      }

      // фон между выбраными днями
      .c-day-background {
        width: 36px !important;
        height: 24px !important;
        border: none !important;
        background-color: lighten($main-color-1, 6%)!important;
      }
    }
  }
}