//======================================================================================================================
//
// checkbox
//
// Кастомные чекбоксы и радиобаттоны
//
// Пример использования: interfaceSettingsPage.ts
//
//======================================================================================================================



// radiobutton =========================================================================================================

input[type="radio"] {
  display: none !important;

  & + span {
    position: relative;
    padding: 0 0 0 31px;
    cursor: pointer;

    // Внешний круг
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      border: 1px solid #ccc;
      width: 16px;
      height: 16px;
    }

    .btn-group & {
      padding: 0;

      &:after,
      &:before {
        content: none !important;
      }
    }
  }

  // Внутренний круг
  &:checked + span {

    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      border-radius: 50%;
      background: #39c876;
    }

    &:after {border-color: #39c876}
  }
}


// Custom checkbox =====================================================================================================

.checkbox {
  cursor: pointer;

  &:hover:not([disabled]){
    input[type=checkbox]:not(:checked) + span:before {
      color: $input--border-color !important;
    }
  }

  input[type=checkbox] {
    display: none;

    + span {
      @extend .icon-uncheck;
      display: flex;
      align-items: center;

      &:before {
        @extend .icon;
        vertical-align: middle;
        font-size: 24px;
        transition: $link-transition;
        margin-right: 2px;
        color: $app-border--color;
      }
    }

    &:checked + span {
      @extend .icon-check;

      &:before {color: #39c876 !important}
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    color: #7a7a7a !important;
  }
}