// Выравнивание элементов в одну строку
$row--margin-top: 16px;

.form-row {
  display: flex;
  align-items: center;

  ~ .form-row {margin-top: $row--margin-top}

  > * {
    flex: none;

    input {width: 100%}

    + * {margin-left: 14px}
  }

  .full {flex: 1 0 0%}

  .small {width: 195px}

  .medium {width: 477px;}

  // Для переноса на новую строку внутри сетки
  .wrapRow {display: none;}

  &.form-row-wrap {
    flex-wrap: wrap;

    .wrapRow {
      display: block;
      width: 100%;
      margin-top: $row--margin-top;

      + * {margin-left: 0}
    }
  }
}

.form-margT {margin-top: $row--margin-top}

.payment-footer {margin-top: 30px}