// Кнопка, которую можно перевести в режим ввода текста

.input-button {

  display: inline-block;
  position: relative;
  width: 260px;
  height: $form-element--height;
  line-height: $form-element--height;

  &__field-wrapper {
    position: absolute;
    width: 260px;

    input {
      width: 100%;
      padding-right: 50px;

      &[readonly] {@extend %input-disabled}
    }
  }

  &__submit-button {
    position: absolute;
    background: none;
    border: none;
    right: 0;
    top: 2px;
    height: $form-element--height;
    width: 40px;
    color: $text--color-2;
    outline: none;

    &:before {font-size: 20px}
  }

  &__title-button {
    margin-top: 1px;
    position: absolute;
    width: 100%;
  }
}