// Превью интерфейса и ссылка перехода в "Интернет-Банк для корпоративных клиентов"

.interface-change-block {
  margin: 24px 0 0 32px;
  display: flex;
  align-items: center;

  .interface-preview {
    border: 1px solid #d0d1d3;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
    padding: 23px 15px 0 15px;
    background: linear-gradient(to top, #dddddd, #f5f5f5);
    width: 462px;
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      border-bottom: 1px solid $app-border--color;
      width: 508px;
      bottom: 0;
      left: -24px;
    }

    img {
      vertical-align: top;
      width: 100%
    }
  }

  .interface-info {
    width: 160px;
    margin-left: 60px;
    flex: auto;

    .interface-title {margin-bottom: 16px}

    .interface-desc {
      color: #878b97;
      margin-bottom: 16px;
    }
  }
}

