// Контейнер модальных окон

.modal-container {
  position: relative;
  z-index: 9998;
}

// Модальное окно

%overlay {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.5);
}

.modal-overlay {
  @extend %overlay;
  animation: modal-fade 0.15s ease forwards;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  border: 1px solid #c5c5c5;
  border-radius: $form-element--border-radius;
  box-shadow: 0 15px 45px 0 rgba(0,0,0,0.2);
  background: #fff;
  outline: none;
  padding: 36px;
  max-height: 100%;

  .modal-header {
    position: relative;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1;

    .icon-close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-size: 30px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {opacity: 1}
    }
  }

  .modal-body {
    padding: 24px 0;
    overflow-y: auto;
  }

  .modal-footer {margin-top: 24px}
}

@keyframes modal-fade {
  from {opacity: 0}
  to {opacity: 1}
}

.dialog-footer__btns {
  display: flex;
  justify-content: space-between;
}

// Класс убирает возможность скролла диалога
.overflow-visible__dialog .modal-body {overflow: visible}
