// Диалог прогресса

.progress-dialog {
  @extend %overlay;

  .progress-dialog__spinner {
    @extend .icon;
    @extend .icon-spinner;

    display: inline-block;

    &:before {
      font-size: 40px;
      width: 40px;
      height: 40px;
      margin: auto;
      color: $main-color-1;
    }
  }
}