.v-select {
  position: relative;
  // Для наследования ширины до ellipsis,  иначе текст распирает селект
  max-width: 100%;

  .selected-tag {
    width: 100%;
    @extend .ellipsis;
  }

  &.open .dropdown-toggle {@extend %input-focus}

  input[type="search"] {
    height: 100%;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  .dropdown-toggle {
    @extend %input;
    background: #fff;
    position: relative;
    z-index: 97;
    padding-right: 40px;

    &.invalid {border-color: $invalid-color}

    .clear {
      @extend .icon;
      @extend .icon-close;
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%);
      font-size: 20px !important;
      border: 0;
      background: none;
      color: #b6b6b6;
      cursor: pointer;

      &:hover {color: $text--color-1}

      span {display: none}
    }
  }

  .tooltip {z-index: 98;}

  .dropdown-menu {
    position: absolute;
    // 1px чтобы не перекрывалась подсветка вокруг поля. Меню нельзя ставить ниже выпадайки,
    // т.к. при открытии все селекты будут выше открытого меню
    top: calc(100% + 1px);
    left: 0;
    z-index: 99;
    width: 100%;
    border: 1px solid $input--border-color;
    border-top: none;
    border-radius: 0 0 $form-element--border-radius $form-element--border-radius;
    box-shadow: $dropdown--box-shadow;
    text-align: left;
    list-style: none;
    background: #fff;
    overflow-y: auto;

    > .highlight {background: $app--bg-color}

    .active {background: $app--bg-color url('../img/icons/icon-selected.svg') no-repeat right 8px center}

    // Элемент badge для отображения количества в кружке
    .message-badge {
      background-color: #b6bbbf;
      display: inline-flex;
    }
  }

  // List Items
  li {
    display: block;
    line-height: $form-element--height;
    padding: 0 38px 0 16px;
    clear: both;
    white-space: nowrap;
    cursor: pointer;
    @extend .ellipsis;

    > * {vertical-align: middle}
  }

  // Open Indicator
  &.loading .dropdown-indicator {opacity: 0}
}

/* Rtl support */
.v-select.rtl .dropdown-indicator {
  left: 10px;
  right: auto;
}
.v-select.rtl .selected-tag {
  float: right;
  margin-right: 3px;
  margin-left: 1px;
}
.v-select.rtl .dropdown-menu {
  text-align: right;
}
.v-select.rtl .dropdown-toggle .clear {
  left: 30px;
  right: auto;
}

/* Dropdown Toggle */
.v-select .dropdown-toggle:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Dropdown Toggle States */
.v-select.searchable .dropdown-toggle {
  cursor: text;
}
.v-select.unsearchable .dropdown-toggle {
  cursor: pointer;
}
.v-select .no-options {
  text-align: center;
}
.v-select.single.open.searching .selected-tag,
.v-select.single.loading .selected-tag {
  display: none;
}
.v-select .selected-tag .close {
  float: none;
  margin-right: 0;
  font-size: 20px;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.v-select.single.searching:not(.open):not(.loading) input[type="search"] {
  opacity: .2;
}
/* Search Input */
.v-select input[type="search"]::-webkit-search-decoration,
.v-select input[type="search"]::-webkit-search-cancel-button,
.v-select input[type="search"]::-webkit-search-results-button,
.v-select input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.v-select input[type="search"]::-ms-clear {
  display: none;
}
.v-select.unsearchable input[type="search"] {
  opacity: 0;
}
.v-select.unsearchable input[type="search"]:hover {
  cursor: pointer;
}
/* Loading Spinner */
.v-select .spinner {
  opacity: 0;
  position: absolute;
  top: calc(50% - 12px);
  right: 10px;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border-top: .9em solid rgba(100, 100, 100, .1);
  border-right: .9em solid rgba(100, 100, 100, .1);
  border-bottom: .9em solid rgba(100, 100, 100, .1);
  border-left: .9em solid rgba(60, 60, 60, .45);
  transform: translateZ(0);
  animation: vSelectSpinner 1.1s infinite linear;
  transition: opacity .1s;
}
.v-select .spinner,
.v-select .spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

/* Disabled state */
.v-select.disabled .dropdown-toggle,
.v-select.disabled .dropdown-toggle .clear,
.v-select.disabled .dropdown-toggle input,
.v-select.disabled .selected-tag .close,
.v-select.disabled .dropdown-indicator {
  cursor: not-allowed;
  background-color: rgb(248, 248, 248);
}

/* Loading Spinner States */
.v-select.loading .spinner {
  opacity: 1;
}
/* KeyFrames */
@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Выбор счетов */
.v-select.accountsList .account {
  display: flex;
  justify-content: space-between;

  .fractional-amount {
    font-size: 12px;
    line-height: 12px;
  }
}