// Tax calendar ====================================================================================================

.tax-calendar_empty {
  background: url('../img/icons/icon-empty-tax-list.svg') top center no-repeat;
  padding-top: 155px;
  margin-top: 150px;
  text-align: center;
  color: #aeaeae;
}
