
// Поле ввода текста ===================================================================================================

.textfield {
  display: inline-block;
  position: relative;
  @extend %input-placeholder;

  &.invalid input {border-color: $invalid-color}
}



// Многострочнное поле ввода текста ====================================================================================

.textarea {
  position: relative;
  z-index: 1;
  cursor: text;

  &.invalid > .textarea__fake-style {border-color: $invalid-color}

  .textarea__fake-style {
    @extend %input;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  textarea {
    @extend %input-text;
    // -1 Чтобы при появлении скрола, он не заезжал на рамку фокуса, т.к. все элеемнты 100%
    width: calc(100% - 1px);
    border: 0;
    background: none;
    padding: $input--padding;
    overflow: auto;
    resize: none;
    outline: none;

    &:focus:not([readonly]) + .textarea__fake-style {@extend %input-focus}
  }

  // Если есть заголовок
  &.withTitle-box {
    textarea {padding-top: 0}
  }

  // Если есть счетчик символов
  &.withCounter {
    padding-bottom: 15px;

    textarea {padding-bottom: 0}

    .counter {
      $counter-font-size: $input--font-size * 0.75;

      position: absolute;
      right: 3px;
      bottom: 3px;
      color: $light--color-1;
      font-size: $counter-font-size;
      line-height: $counter-font-size;
    }
  }

}



// Всплывающая подсказка

.tooltip {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 18px;
  color: #f00;
  cursor: pointer;

  &:hover .tooltip-text {display: block}

  .tooltip-text {
    display: none;
    position: absolute;
    color: $text--color-1;
    font-size: $font-size;
    font-family: $font-family;
    top: -24px;
    left: 40px;
    padding: 24px;
    border: 1px solid $app-border--color;
    background-color: $app--bg-color;
    min-width: 300px;
    border-radius: $form-element--border-radius;
    cursor: default;
    z-index: 98;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border: solid $app-border--color;
      border-width: 0 0 1px 1px;
      background-color: $app--bg-color;
      transform: rotate(45deg);
      left: -10px;
      top: 24px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 25px;
      height: 40px;
      left: -25px;
      top: 16px;
    }
  }
}
