// Throbber

.infinite-loading-container {text-align: center}

.loading-wave-dots {
  position: relative;
  min-height: 8px;
  display: block;

  > .wave-item {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: loading-wave-dots linear 2.8s infinite;

    &:first-child {margin-left: -36px}

    &:nth-child(2) {
      margin-left: -20px;
      animation-delay: 0.14s;
    }

    &:nth-child(3) {
      margin-left: -4px;
      animation-delay: 0.28s;
    }

    &:nth-child(4) {
      margin-left: 12px;
      animation-delay: 0.42s;
    }

    &:last-child {
      margin-left: 28px;
      animation-delay: 0.56s;
    }
  }
}

@keyframes loading-wave-dots {
  0% {
    transform: translateY(0);
    background: #bbb;
  }
  10% {
    transform: translateY(-6px);
    background: #999;
  }
  20% {
    transform: translateY(0);
    background: #bbb;
  }
  100% {
    transform: translateY(0);
    background: #bbb;
  }
}