.w25 {
    width: 25px;
}
.w80 {
    width: 80px;
}
.w200 {
    width: 200px;
}
.w400 {
    width: 400px;
}
.floatR {
    float: right;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;// переопределяем маргин
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}
.m10 {
    margin: 10px;
}